# Google OAuth Client ID
GOOGLE_CLIENT_ID=158133644661-ob31ffc6u0mc2mrv28vfsuhqupogtl34.apps.googleusercontent.com

# JWT Settings
JWT_KEY=1fd8bcc13347efbdebb5d7660e22ffb346f8104eeb925ef0eca6b85ddbd4edbf
JWT_ISSUER=oa.edu.ua
JWT_AUDIENCE=oa.edu.ua

